#title {text-align: center;
}
#postitle {text-align: center;}
#main {background-color: #ebedf0;
border-radius: 5px;
padding: 10px;}
#img-div {background-color: #ffffff;
padding: 10px;
text-align: center;}
img {display: block;
  max-width: 100%;
    height: auto;
margin: 0 auto;}
#facts {padding: 10px 75px 10px 75px;}
li {margin: 10px 0px 10px 0px}
h3 {text-align: center}
.comment {margin: 10px 0px 10px 0px}